---
layout: default
subtitle: A place to share ideas, thoughts, and most importantly, random sht.
---

<article>
    <header>
      <h1>{{ page.title }}</h1>
      <p>
        <small>Published on {{ page.date | date: "%d %B %Y 🕒 %T" }}</small>
      </p>
      {% if site.data.authors[page.author] %}
      <p>
        <small>By <b>{{ site.data.authors[page.author].name }}</b> - <i>{{ site.data.authors[page.author].bio }}</i></small>
      </p>
      {% else %}
      <p>
        <small>By {{ page.author | default: "metalerk" }}</small>
      </p>
      {% endif %}
    </header>
    <div class="content">
      {{ content }}
    </div>
    <div>
      <br>
      <I>Stay tuned for more updates and keep coding!</i>
        <br>
        <br>
        <p><b><a href="javascript:void(0);" onclick="history.back();" style="text-decoration: none; color: #007BFF; font-family: Arial, sans-serif;">
          ⬅️ Go to Previous Page 
        </b></a></p>

    </div>
  </article>
  